html, body {
  margin:0;
  padding:0;
  font-family: helvetica
}
.main-container {
  width:100vw;
  height:100vh;
  overflow:hidden;
}
.content {
  width:100%;
  height:calc(100% - 65px);
  overflow-y: auto;
  overflow-x: hidden;
  background:black;
}
