
.bg {
  background-size:cover;
  background-position: center;
}

.gradient {
  width:100%;
  height: calc(100vh - 70px);
  background: rgb(255,255,255);
  background: linear-gradient(0deg,black 0%,rgba(0,0,0,0.2) 50%,black 100%);
  position:relative;
}

.blink {
  transition: 0s;
  opacity: 1;
}

.blink-off {
  transition: 0.3s;
  opacity: 0;
}

.cursor {
  display:inline-block;
  width:10px;
  height: 110px;
  margin-left:10px;
  margin-bottom:-20px;
  background:white;
}

.page-header {
  font-size: 100px;
  font-weight: bold;
  display:block;
  padding-top: calc(50vh - 70px - 50px);
  text-align:center;
}

a {
  text-decoration: underline;
}

a:hover {
  cursor:pointer;
}

@media screen and (max-width: 640px) {
  .page-header {
    font-size: 70px;
    padding-top: calc(50vh - 70px - 35px);
  }

  .cursor {
    width:8px;
    height:80px;
  }
}
