
.Panel {
  display:inline-block;
  height:100%;
  vertical-align:top;
  flex: 1 1 50vw;
}

@media (orientation: portrait) {
  .Panel {
    flex-basis: 100%;
    display:block;
    height: calc(50vh - 35px);;
    vertical-align:top;
  }
}
